.rightbottomWidget {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99;
}

.logo {
	position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 99;
}

#logo {
  width: 5vw;
  height: 4vw;
  margin-right: auto;
}

#biglogo {
  width: 15vw;
  height: auto;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}
